:root {
  font-family:
    system-ui,
    Avenir,
    Avenir Next,
    Segoe UI,
    Helvetica,
    Helvetica Neue,
    Cantarell,
    Ubuntu,
    Roboto,
    Noto,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;

  --size-xs: 0.125rem;
  --size-sm: 0.25rem;
  --size-md: 0.375rem;
  --size-lg: 0.5rem;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
