:root {
  font-family:
    system-ui,
    Avenir,
    Avenir Next,
    Segoe UI,
    Helvetica,
    Helvetica Neue,
    Cantarell,
    Ubuntu,
    Roboto,
    Noto,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: 245 245 244;
  --color-accent: 214 211 209;
  --color-secondary: 161 98 7;
  --color-text: 9 9 11;
  --color-positive: 101 163 13;
  --color-negative: 220 38 38;

  --size-xs: 0.125rem;
  --size-sm: 0.25rem;
  --size-md: 0.375rem;
  --size-lg: 0.5rem;

  --text-2xs: 0.625rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;

  --font-bold: 700;

  --duration-normal: 250ms;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-text));
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
