:root {
  font-family:
    system-ui,
    Avenir,
    Avenir Next,
    Segoe UI,
    Helvetica,
    Helvetica Neue,
    Cantarell,
    Ubuntu,
    Roboto,
    Noto,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: 98.5% 0.001 106.423;
  --color-accent: 70.9% 0.01 56.259;
  --color-secondary: 82.8% 0.189 84.429;
  --color-text: 21.6% 0.006 56.043;
  --color-positive: 79.2% 0.209 151.711;
  --color-negative: 63.7% 0.237 25.331;

  --size-xs: 0.125rem;
  --size-sm: 0.25rem;
  --size-md: 0.375rem;
  --size-lg: 0.5rem;

  --text-2xs: 0.625rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;

  --font-bold: 700;

  --duration-normal: 250ms;

  --text-shadow:
    -1px -1px 0 oklch(var(--color-primary)),
    1px -1px 0 oklch(var(--color-primary)),
    -1px 1px 0 oklch(var(--color-primary)),
    1px 1px 0 oklch(var(--color-primary)), -1px 0 0 oklch(var(--color-primary)),
    1px 0 0 oklch(var(--color-primary)), 0 -1px 0 oklch(var(--color-primary)),
    0 1px 0 oklch(var(--color-primary));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: oklch(var(--color-primary));
  color: oklch(var(--color-text));
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
