:root {
  font-family:
    system-ui,
    Avenir,
    Avenir Next,
    Segoe UI,
    Helvetica,
    Helvetica Neue,
    Cantarell,
    Ubuntu,
    Roboto,
    Noto,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
